.THIS .component-styling-bar-container {
    float: left;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}

.THIS .component-styling-score {
    float: right;
    display: flex;
    justify-content: center;
    font-weight: 600;
    background: #e0dddd;
    border-radius: 50px;
}

.THIS .overall-score-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}

.THIS .overall-score-styling {
    text-align: center;
    font-size: x-large;
}

.THIS .overall-score-outof {
    text-align: center;
}

.THIS .center-display-stars {
    text-align: center;
}