.THIS h1 {
    font-size: x-large;
}

.THIS h2 {
    font-size: large;
}

.THIS .gray-background {
    font-weight: bold;
    background-color: rgba(169, 169, 169, 0.3);
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.THIS .lhds-default {
    color: #4fa5a0;

}

.THIS .carousel__buttons {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}